h1.title.has-text-centered StoryKey Demo

p This is a demo of <a href="https://github.com/jcraigk/story_key">StoryKey</a>, a <a href="https://en.bitcoin.it/wiki/Brainwallet">Brainwallet</a> inspired by <a href="https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki">BIP39</a>. It converts an arbitrary string of data into an English paragraph intended for longterm human memory. To recover a key from a story, use the command line executable.

.notification.is-danger.is-light
  i.fa.fa-exclamation-circle aria-hidden='true'
  | &nbsp;&nbsp;
  <b>WARNING</b>: Never transmit real private cryptocurrency keys over the web! To use StoryKey privately, <a href="https://github.com/jcraigk/story_key">download it</a> and run it via Ruby or CLI.
