h1.title.has-text-centered StoryKey Demo

p This is a demo of <a href="https://github.com/jcraigk/story_key">StoryKey</a>, a proof of concept <a href="https://en.bitcoin.it/wiki/Brainwallet">Brainwallet</a> inspired by <a href="https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki">BIP39</a>. It converts an arbitrary string of data into an English paragraph intended for longterm human memory as well as a seed phrase useful for deriving other private keys.
