@import "bulma";

a {
  font-weight: bold;
}
h1 {
  margin-top: 20px;
}
.main {
  width: 750px;
}
.data-card {
  margin-top: 30px;
  padding: 20px;
  font-weight: bold;
}
.text {
  color: $white-ter;
  background-color: $grey-darker;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier';
}
.hint {
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: normal;
}
.color-31 {
  color: $red;
}
.color-33 {
  color: $yellow;
}
.color-35 {
  color: $turquoise;
}
.color-36 {
  color: $cyan;
}
form {
  margin-top: 30px;
}
.notification {
  margin-top: 40px;
}
.footer-notice {
  margin-bottom: 30px;
}
